@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Source+Code+Pro&display=swap');

*{
	/*margin: 0;*/
	/*padding: 0;*/
}

html{
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}

body{
	color: black;
	background-color: white;
	width: 80%;
	margin: auto;
	position: relative;
}

h1{
	text-align: center;
}

#bannerImg{
	width: 100%;
	height: 250px;
	object-fit: fill;
}

#sourceCode{
	font-family: 'Source Code Pro', monospace;
	border: none;
	outline: none;
	overflow-y: scroll;
	padding-left: 15px;
}

.lightSourceCode {
	background-color: #f6f8fa;
}

.codeObjKey{
	color: #990000;
	font-weight: bold;
}
.codeObjVal{
	color: #d14;
}
details *{
	display: inline;
}



/*Dark/ Light Toggle Button Start*/
.checkbox-label {
	/*visibility: hidden;*/
	background-color: #111;
	width: 50px;
	height: 26px;
	border-radius: 50px;
	position: fixed;
	top: 0;
	right: 0;
	margin-right: 10px;
	margin-top: 10px;
	padding: 2px 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fa-moon {
	color: #f1c40f;
	font-size: 20px;
	padding-right: 5px;
}

.fa-sun {
	color: #f39c12;
	font-size: 20px;
}

.checkbox-label .ball {
	background-color: #fff;
	width: 23px;
	height: 23px;
	position: absolute;
	/*top: 2px;*/
	border-radius: 50%;
	transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
	transform: translateX(24px);
}

input[type="checkbox"] {
	display: none;
}

/*Dark/ Light Toggle Button End*/

/*Dark Mode Specific Styles*/

.darkModeBody {
	background-color: #0D1117;
	color: white;
}

.darkModeSourceCode{
	background-color: #161B22;
	color: white;
}

.darkModeCodeObjKey{
	color: #79c0ff;
	font-weight: bold;
}
.darkModeCodeObjVal{
	color: #a5d6ff;
}